{% extends 'base.html' %}

    {% block content %}
        <button id="runMotionButton">Create motion!</button>
		<div id="result"></div>
		
		<script>
        document.getElementById('runMotionButton').addEventListener('click', function() {
            // Make a GET request to the Flask route
            fetch('/run_motion')
                .then(function(response) {
                    return response.text();
                })
                .then(function(data) {
                    // Update the <div> with the resulting text
                    document.getElementById('result').innerText = data;
                });
        });
        </script>
    {% endblock %}